


<h1>Home#new</h1>
<p>Find me in app/views/home/new.html.erb</p>
<p>デプロイできたぞ！</p>


# <%= form_tag("/home/create") do %>
# New Data
# <div class="form">
#    <div class="form-body">
#        uers
#        <textarea name = "user"></textarea>
#        <br>
#        content
#        <textarea name = "content"></textarea>
#        <br>
#        <input type="submit" value="投稿">
#    </div>
#</div>
#<% end %>


#<%= form_tag("/home/destroy") do %>
#Destroy Data
#<div class="form">
#    <div class="form-body">
#        Id
#        <textarea name = "id"></textarea>
#        <br>
#        <input type="submit" value="削除">
#    </div>
#</div>
#<% end %>



