


<h1>Home#new</h1>
<p>Find me in app/views/home/new.html.erb</p>
<p>デプロイできたぞ！</p>

 <%= form_tag("/home/update") do %>
 Update Current Data
 <div class="form">
    <div class="form-body">
        Id
        <textarea name = "id"></textarea>
        uers
        <textarea name = "user"></textarea>
        <br>
        content
        <textarea name = "content"></textarea>
        <br>
        <input type="submit" value="submit">
    </div>
</div>
<% end %>
