<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>
<p>デプロイできたぞ！</p>


<h2>【Rails】トップページを自動生成する方法</h2>

<code class="language-markup">
<pre>
$ rails generate controller home top
</pre>
</code>

<h2>【Rails】トップページを編集する方法</h2>
<p>ビューファイル</p>

<code class="language-markup">
<pre>
app/views/home/top.html.erb
</pre>
</code>

<p>CSSファイル</p>
<code class="language-markup">
<pre>
app/assets/stylesheets/home.scss 
</pre>
</code>


<p>コントローラファイル</p>
<code class="language-markup">
<pre>
app/controllers/home_controller.rb
</pre> 
</code>

<p>ルーティングファイル</p>
<code class="language-markup">
<pre>
config/routes.rb 
</pre>
</code>

<p>ルーティングファイルの記述を変更してtopページを設定する。</p>
<code class="language-markup">
<pre>
Rails.application.routes.draw do
root 'home#top'
end
</pre>
</code>


<h2>【Rails】ローカルでテストする方法</h2>

<p>ターミナルを立ち上げ、アプリケーションサーバを起動する</p>
<code class="language-markup">
<pre>
$ rails s
</pre>   
</code>

<p>ブラウザでlocalhost:3000というドメインにアクセス</p>
<code class="language-markup">
<pre>
http://localhost:3000/
</pre>
</code>


<h2>【Rails】gitを使用してherokuへデプロイをする方法</h2>

<p>ターミナルを立ち上げ、gitでコミットする</p>
<code class="language-markup">
<pre>
$ git add .
$ git commit -m "update heroku"  
</pre>
</code>
<p>gitへプッシュする</p>
<code class="language-markup">
<pre>
$ git push origin master 
</pre>
</code>

<p>herokuへプッシュする</p>
<code class="language-markup">
<pre>
$ git push heroku master 
</pre>
</code>


<h2>【Rails】データベースを作成する方法</h2>

<p>ターミナルを立ち上げて、データベースを作成する</p>

<code class="language-markup">
<pre>
$ rails g model Post content:text
$ rails db:migrate
</pre>
</code>

<h2>【Rails】データベースの内容を確認する方法</h2>

<p>コマンドでデータベースのRailsコンソールを立ち上げる</p>
<code class="language-markup">
<pre>
$ rails dbconsole</pre>
</code>
<p>テーブルの一覧を表示</p>
<code class="language-markup">
<pre>
sqlite> .tables
</pre>
</code>
<p>テーブル「posts」の構造（カラムなど）を表示</p>
<code class="language-markup">
<pre>
sqlite> .schema posts
</pre>
</code>
<p>テーブル「posts」の中身を確認</p>
<code class="language-markup">
<pre>
sqlite> select * from posts;
</pre>
</code>

<p>コンソールを終了</p>
<code class="language-markup">
<pre>
sqlite> .quit
</pre>
</code>


<h2>【Rails】データベースの内容を追加する方法</h2>

<p>rails consoleを立ち上げてテーブル「posts」にデータを追加する/p>
<code class="language-markup">
<pre>
$ rails console
</pre>
コンソールが立ち上がったら、データを追加する。
</code>
<code class="language-markup">
<pre>
irb(main):> post1 = Post.new(content: "I work today")
irb(main):> post1.save
</pre>
</code>

登録済みのデータ(ID＝1）を変更する。
</code>
<code class="language-markup">
<pre>
irb(main):> post = Post.find(1)
irb(main):> post.content = "I stay home today"
irb(main):> post.save
</pre>
</code>

<p>コンソールを終了</p>
<code class="language-markup">
<pre>
irb(main):> exit
</pre>
</code>


<h2>【Rails】データベースを使ってWebに表示させる方法2</h2>

<p>home_controller.rbを編集する。</p>
<p>postsの配列にPostデータベースの内容を全てロードする。</p>
<code class="language-markup">
<pre>
class HomeController < ApplicationController
  def top
    @posts=Post.all
  end
end
</pre>
</code>

<code class="language-markup">
<pre>
&lt;% @posts.each do |post| %&gt;
    &lt;div class="posts-index-item"&gt;
    &lt;%= post.content %&gt;
    &lt;/div&gt;
&lt;% end %&gt;
</pre>
</code>
<% @posts.each do |post| %>
    <div class="posts-index-item">
    <%= post.content %>
    </div>
<% end %>